{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 999999,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"]
}
